.b-button,
button {
	color: var(--gray-1);
	border: none;
	padding: var(--size-fluid-1) var(--size-fluid-3);
	border-radius: 453444px;
	box-shadow: var(--shadow-0);
	background: var(--color-dark);
	text-shadow: none;
	/* background-image: var(--gradient-3); */

	&:hover {
		animation: var(--animation-pulse);
		box-shadow: var(--shadow-2);
	}
}

.b-button--secondary {
	color: var(--gray-9);
	background-image: var(--gradient-3);
}

/* theme: dark */
@media (--OSdark) {
	.b-button,
	button {
		&:hover {
			animation: var(--animation-pulse);
			box-shadow: var(--shadow-4);
		}
	}
}