body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (--md-n-below) {
	main {
		padding-block: var(--size-12) var(--size-9);
	}
}

@media (--sm-n-below) {
	main {
		padding-block: var(--size-12) var(--size-10);
	}
}

:where(img,svg,video) {
	max-inline-size: none;
}