/* Write your global styles here, in PostCSS syntax */
@import "open-props/style";
@import "open-props/normalize";
@import "open-props/media";
@import "open-props/buttons";
@import "open-props/animations";
@import "./app.css"